div{
    width: 50px;
    height: 50px;
    background-color: yellow;
    border-style: dashed;
    border-width: 5px;
    border-radius: 50%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}