#container1{
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}
#container{
    display: flex;
    background-color: blue;
    width: 500px;
    height: 500px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  
}
.flex{
    width: 150px;
    height: 150px;
    background-color: green;
    border-style: solid;
    border-color: red;
}

