@media(max-width:299px){
    #id1{
        background-color: green;
        
    }
}
@media (min-width : 300px) and (max-width : 400px){
    #id1
{
    background-color: pink;
}}
@media (min-width: 400px) and (max-width: 600px) {
    #id1{
        background-color: red;
    }
    
}
@media (min-width:600px){
    #id1{
        background-color: blue;
    }
}