#container{
    display: flex;
    height: 100px;
    width: auto;
    border-style: solid;
    border-color: blue;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    
    
}
#id2{
    color: black;
    text-decoration: none;
    /* margin-left: 200px; */
}
#id3{
    color: black;
    text-decoration: none;
}
#id4{
    color: black;
    text-decoration: none;
}
#id1{
    color: black;
    text-decoration: none;
}
#id5{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border-style: solid;
    border-color: black;
    background-color: white;
}
#id6{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    border-style: solid;
    border-color: red;
    background-color: white;
}